@import "mobile";

* {
  font-family: "Roboto Slab", serif;
}

a:hover {
  color: #c8d0d8;
  text-decoration: none;
}

address {
  text-align: right;
}

.alert {
  margin-bottom: 0;
}

li {
  display: inline;
  margin: 0;
}

.carousel-control-prev-icon {
  margin-top: 50%;
}

.carousel-control-next-icon {
  margin-top: 50%;
}

.card-title {
  text-align: center;
}

.contact-us {
  margin-top: 1em;
}

.estimate {
  text-align: center;
  margin-top: 1em;
}

.estimate-form {
  justify-content: center;
  align-content: center;
}

.flash {
  display: contents;
  padding-top: 5em;
  position: relative;
  margin-bottom: -1rem;
  text-align: center;
}

.footer {
  background-color: #084c92;
  bottom: 0;
  width: 100%;
}

.link {
  color: white;
  font-size: 1.75rem;
  padding: 0 1rem;
}

.main-content {
  padding-top: 2rem;
  position: relative;
  min-height: 80vh;
  padding-bottom: 2.5rem;
}

.more-button {
  float: right;
}

.navbar {
  background-color: #084c92;
  padding: 0;
}

.navbar-nav {
  padding-top: 8rem;
}
.navbar-toggler {
  background-color: #f7594c;
}

.resize-img {
  height: 500px;
}

.reviews {
  margin-top: 2em;
}

.bigger {
  font-size: 1.5em;
}

#contact {
  text-align: right;
}

#map {
  width: 100%;
}
